<%- model_class = Materia-%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<div class='materia'>
  <p><%= @materia.id %></p>
  <p><%= @materia.nombres %></p>
  <p><%= @materia.created_at %></p>
 
</div>
